html, body {
  width: 100%;
  font-family: Lato;
}

.quiz-question {
  width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
  font-size: 32px;
  margin-bottom: 20px;
}

.quiz-answers {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  display: block;
  padding-bottom: 5px;
}

.quiz-button.btn {
  margin-top: 10px;
}

.quiz-button.btn:hover {
  background-color: #0096D2;
  color: #fff;
}

.quiz-button.btn:not(:first-child) {
  margin-left: 10px;
}

.question-image {
  width: 100%;
}

.question-image img,
.results-ratio,
.results-social,
.quiz-title
{
  max-width: 600px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.question-image img {
  margin-top: 20px;
}

.correct-text {
  margin-top: 10px;
  font-style: italic;
}

.quiz-title {
  font-size: 60px;
  font-weight: 300;
  margin-top: 100px;
  margin-bottom: 30px;
}

.results-ratio {
  margin: 20px auto;
  font-size: 24px;
  font-weight: bold;
}

.results-social {
  margin-top: 30px;
}

.results-social a:not(:first-child) {
  margin-left: 20px;
}

.progress-circles {
  position: absolute;
  padding: 0;
  margin: 0;
  left: 40px;
  top: 40px;
  display: none;
}

.progress-circles.show {
  display: block;
}

.progress-circles li{
  list-style: none;
  display: inline-block;
  background: #ccc;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 10px;
}
.progress-circles li.dark{
  background: #6b6b6b;
}